@import "tailwindcss";

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 40px;
  background: #ffffff;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #0b132b;
}

.search {
  flex: 1;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  cursor: pointer;
  color: #1c2541;
}

.login-btn {
  background: #0b132b;
  color: #f1f5f9;
}

/* ANNOUNCEMENT */
.announcement {
  background: #1c2541;
  color: #f1f5f9;
  padding: 12px;
  text-align: center;
  font-weight: 500;
}

/* HERO */
.hero {
  display: flex;
  min-height: 520px;
  padding: 70px 60px;
  background: linear-gradient(
    135deg,
    #0b132b,
    #1c2541
  );
  color: #f1f5f9;
}

.hero-left {
  flex: 1;
}

.big {
  font-size: 120px;
  color: #ff6b6b;
}

.sell-btn {
  margin-top: 25px;
  background: #ff6b6b;
  color: #0b132b;
  border: none;
  padding: 16px 34px;
  font-size: 18px;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sell-btn:hover {
  background: #ff8787;
  transform: translateY(-2px);
}


.hero-right {
  flex: 1;
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
.city-box {
  position: relative;
  cursor: pointer;
}

.city-dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  background: white;
  list-style: none;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.city-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
}

.city-dropdown li:hover {
  background: #f1f5f9;
}